section.gallery .mix {
  padding: 0;
  max-height: 200px;
  overflow: hidden;
}

section.gallery a {
  outline: none;
  width: 100%;
  height: 100%;
}

section.gallery a img {
  min-height: 100%;
  width: 100%;
}

section.gallery .item {
  position: relative;
  width: 100%;
  height: 100%;
}

section.gallery .item:hover .overlay {
  opacity: 1;
}

section.gallery .item:hover i {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}

section.gallery .overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(153, 153, 153, 0.7);
  color: #fff;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

section.gallery .overlay i {
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
  font-size: 2em;
}
