.slider-sh {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.slab-style {
  background: url('assets/images/divider-bg.jpg');
  background-size: cover;
  background-position: center bottom;
}
.zoom {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
